/* ESTILO GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --azul: #007bff;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  gap: 2rem;
}

h2.title {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.title span,
span.blue {
  color: var(--azul);
}

a {
  text-decoration: none;
}

button:hover,
.btn-send button:hover {
  box-shadow: 0px 0px 8px #0099ff;
  scale: 105%;
  color: #fff;
}

/* ESTILO HEADER */
header {
  background-color: #000;
  width: 100%;
  height: 150px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  /* border: 1px solid red; */
  transition: 1s;
}

header.roll {
  box-shadow: 0 0 40px 8px #ffffff1d;
  height: 120px;
}

header>.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #fff;
  text-decoration: none;
}

.btn-contact button,
.btn-cv button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--azul);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

header .btn-contact button,
.btn-cv button {
  display: inline-block;
  transition: 0.2s;
}

header nav ul {
  list-style: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}

header nav.menu-desktop ul li a {
  color: #7d7d7d;
  display: inline-block;
  transition: 0.2s;
}

header nav.menu-desktop ul li a:hover {
  color: #fff;
  scale: 105%;
}

.soon-fg img {
  height: 120px;
  width: 120px;
}

/* MENU MOBILE */
.btn-open-menu {
  display: none;
}

.btn-open-menu i {
  color: var(--azul);
  font-size: 40px;
  padding: 0 20px;
}

.menu-mobile {
  background-color: #000;
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8;
  transition: .2s;
}

.menu-mobile.open-menu-hamburguer {
  width: 70%;
}

.menu-mobile.open-menu-hamburguer~.overlay-menu {
  display: block;
}

.menu-mobile nav ul {
  list-style: none;
  text-align: right;
}

.menu-mobile nav ul li a {
  padding: 20px 8%;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  display: block;
}

.menu-mobile nav ul li a:hover {
  background-color: var(--azul);
  border: none;
}

.menu-mobile .btn-close {
  padding: 20px 5%;
}

.menu-mobile .btn-close {
  color: var(--azul);
  font-size: 30px;
}

.overlay-menu {
  background-color: #000000af;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  display: none;
}

/* ESTILO DO TOPO DO SITE */
main {
  margin-top: 150px;
}

main .top-of-site {
  padding: 40px 4%;
}

main .top-of-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

main .top-of-site h1 {
  color: #fff;
  font-size: 42px;
  line-height: 40px;
}

main .top-of-site p {
  font-size: 24px;
  color: #fff;
  margin: 40px 0;
}

main .img-top-of-site img {
  position: relative;
  width: 500px;
  height: 500px;
  animation: flutuar 2s ease-in-out infinite alternate;
}

main .txt-animation {
  text-transform: uppercase;
  font-size: 1.5em;
  color: var(--azul);
}

main #text {
  font-size: 1.8em;
}

main .typed {
  color: var(--azul);
  text-transform: uppercase;
}

main .cursor {
  border-right: 4px solid var(--azul);
  margin-left: 4px;
  animation: piscar 1s infinite;
}

@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 40px;
  }
}

@keyframes piscar {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

main .btn-cv {
  text-align: center;
}

main .btn-contact button,
.btn-cv button {
  transition: 0.2s;
}

/* ESTILO DAS ESPECIALIDADES */
section.specialty {
  padding: 40px 4%;
}

.specialty .specialty-box {
  /* min-width: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 40px;
  border: 2px solid #fff;
  border-radius: 20px;
  margin-top: 45px;
  transition: 0.2s;
}

.specialty .specialty-box:hover {
  scale: 105%;
  box-shadow: 0 0 8px #fff;
}

.specialty .specialty-box i {
  font-size: 70px;
  color: var(--azul);
}

.specialty .specialty-box h3 {
  font-size: 28px;
  margin: 15px 0px;
}

.specialty .flex {
  gap: 60px;
}

/* ESTILO DO SOBRE */
section.about-me {
  padding: 80px 4%;
}

.about-me .flex {
  align-items: center;
  gap: 60px;
}

.about-me .img-about-me img {
  width: 400px;
  height: 400px;
}

.about-me .txt-about-me {
  color: #fff;
}

.about-me .txt-about-me h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 30px;
}

.about-me .txt-about-me span {
  color: var(--azul);
  display: block;
}

.about-me .txt-about-me p {
  margin: 30px 0;
  text-align: justify;
}

.about-me .btn-social {
  text-align: center;
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: var(--azul);
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.2s;
}

/* ESTILO DO PORTFÓLIO */
section.portfolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 8px #ffffff1d;
}

section.portfolio h2.title {
  margin-bottom: 70px;
}

section.portfolio .flex {
  justify-content: space-around;
}

.btn-projects {
  border-radius: 40px;
  border: none;
  /* margin: 10px 10px; */
  cursor: pointer;
  background: transparent;
  position: relative;
  overflow: hidden;
}

.img-port {
  width: 100%;
  height: 225px;
  background-color: var(--azul);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
  display: block;
}

.btn-projects .overlay {
  position: absolute;
  inset: 0;
  /* top:0; right:0; bottom:0; left:0; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  border-radius: 40px;
  background-color: #000;
  transition: .5s;
  z-index: 2;
  opacity: 0;
}

.btn-projects:hover .overlay {
  background-color: #000;
  opacity: .85;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.contact {
  padding: 80px 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input,
form textarea,
form .btn-send button {
  width: 100%;
  background-color: #373737;
  border: none;
  outline: none;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}

form textarea {
  resize: none;
  max-height: 200px;
}

form .btn-send {
  margin-top: 20px;
  text-align: center;
}

form .btn-send button {
  width: 120px;
  background-color: var(--azul);
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}

.soon-footer .soon-fg {
  height: 120px;
  width: 120px;
}

/* ESTILO DO RODAPÉ */
footer {
  padding: 20px 4%;
  box-shadow: 0 0 40px 8px #ffffff1d;
}

footer .flex {
  justify-content: space-between;
}

.end {
  background-color: var(--azul);
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

footer .line-footer p i {
  color: var(--azul);
  font-size: 22px;
}

footer .line-footer p a {
  color: #fff;
}

footer .line-footer p a:hover {
  text-decoration: underline;
}

footer .btn-social {
  padding-top: 22px;
}

.border {
  border-top: 2px solid var(--azul);
  padding-top: 30px;
}

@media screen and (max-width: 1020px) {

  /* MENU MOBILE */
  .btn-open-menu {
    display: block;
    margin-top: -15px;
  }

  .menu-desktop,
  .btn-contact {
    display: none;
  }

  /* FLEXBOX */
  .flex {
    flex-direction: column;
  }

  .top-of-site .flex {
    flex-direction: column-reverse;
  }

  /* CABEÇALHO */
  header {
    height: 130px;
  }

  header.roll {
    height: 100px;
  }

  /* CONTEÚDO MAIN */
  main {
    margin-top: 90px;
  }

  main #text {
    font-size: 1.7em;
  }

  main .top-of-site .flex {
    gap: 90px;
  }

  section.top-of-site .img-top-of-site img {
    width: 330px;
    height: 330px;
  }

  /* ESTILO ESPECIALIDADES */
  section .specialty {
    padding: 40px 20%;
  }

  .specialty .flex {
    gap: 2px;
  }

  h2.title {
    font-size: 32px;
    line-height: 30px;
  }

  .about-me .flex {
    flex-direction: column-reverse;
  }

  .about-me .txt-about-me h2 {
    font-size: 30px;
    line-height: 30px;
  }

  .about-me .txt-about-me p {
    margin: 40px 0;
  }

  .txt-about-me .btn-social {
    text-align: center;
  }

  /* PORTFÓLIO */
  .grid {
    grid-template-columns: 1fr;
  }

  /* RODAPÉ */
  footer .flex {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .end {
    font-size: 10px;
  }
}